---
layout: default
---

<section id="projects">
    <div class="container">
        <header class="major">
            <h2>PROJECTS</h2>

        </header>
        <h1>SIC/SIC-XE ASSEMBLER</h1>
        <ul>
          <li> <P>Systems programming project Implemented in C++.</P></li>
          <li><P>2 Passes assembler/ Support Relocation/ Free format/ Literals.</P></li>
          <li><P>Generates List file and Object Code.</P></li>
        </ul>



        <a href ="https://github.com/AhmedEid1995/JDBC/tree/master/Jdbc"><h1>DBMS AND JDBC DRIVER WITH QUERY PROCESSOR</h1></a>
        <ul>
          <li> <P>OOP project Implemented in JAVA.</P></li>
          <li><P>This program has Query processor to handle SQL statements,
JDBC interface , dealing with XML files and validating them.</P></li>
          <li><P>Save and load using Xml and DTD files.</P></li>
        </ul>



        <a href="https://github.com/AhmedEid1995/PAINT-BRUSH/tree/master/Paint">
          <h1>PAINT BRUSH</h1></a>
        <ul>
          <li> <P>OOP project Implemented in JAVA.</P></li>
          <li><P>GUI Paint program in Java Swing.</P></li>
          <li><P>Features include: add/delete different shapes in different colors , ability to move, resize, undo,
          redo, dynamic class loading at runtime, save-to/load-from XML and JSON files.</P></li>
        </ul>



        <h1>NUMERICAL METHODS LIBRARY</h1>
        <ul>
          <li> <P>Numerical Analysis Project implemented in MAtlab with detailed GUI .</P></li>
          <li><P>Contains methods for ”Root Finding” and ”Interpolation Technique”.</P></li>
          <li><P>Show the place of the root and the function around it.</P></li>
        </ul>



        <a href="https://github.com/AhmedEid1995/Signal-Flow-Graph">
          <h1>SIGNAL FLOW GRAPH</h1></a>
        <ul>
          <li> <P>Control Project Implemented in JAVA with GUI .</P></li>
          <li><P>Using Graph Theory Algorithms (DFS ) to calculate forward paths , loops and overt all traasnfer funcion.</P></li>
        </ul>


        <a href="https://github.com/AhmedEid1995/CIRCUS-OF-PLATES">
          <h1>CIRCUS OF PLATES</h1></a>
        <ul>
          <li> <P>OOP Project implemented in Java with GUI.</P></li>
          <li><P>Using OOP Concepts and design patterns(Singleton, Pool,Iterator,
          Dynamic Linkage, Snapshot, State, Strategy, Flyweight,Observer).</P></li>
        </ul>


        <h1>MAZE SOLVER GAME</h1>
        <ul>
          <li> <P>Data Structure Project implemented in Java with GUI.</P></li>
          <li><P>Using graph theory (BFS & DFS ) to find solutions / Generates random mazes.</P></li>
        </ul>


        <h1>CONNECT FOUR GAME</h1>
        <ul>
          <li> <P>Programming I project implemented in C.</P></li>
          <li><P>Save/Load using File I/O (Saving witn Binry Code (Bit Mask))/
          Player vs Computer(difficulty Easy)( difficulty Hard Using AI )/
        Variable size board/ Reading Size from XML file.</P></li>
        </ul>




    </div>
</section>
<!--
<section id="one" >
    <div class="container">
        {% for post in site.posts limit:1 %}
            <article>
                <header>
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                <section class="post-content">
                    {{ post.excerpt }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </article>
        {% endfor %}
    </div>
</section> -->
<!--
<section>
    <div class="container">
        <div class="features">
        {% for post in site.posts offset:1 %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                </header>

                    {{ post.content | truncatewords: 30 }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
        {% endfor %}
        </div>
    </div>
</section>-->
